* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,h2,h3,h4 {
    font-family: monospace;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: aliceblue;
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#calcCtn {
    border:2px solid black;
    width: 350px;
}

.outputCtn {
    border: 2px solid black;
}

.outputCtn p {
    text-align: right;
    padding: 2px 5px;
    font-size: 24px;
}

.row {
    display:flex;
    justify-content: space-evenly;
}

.row:last-child button:first-child{
    flex-grow: 2;
}

button {
    font-family: monospace;
    font-size: 16px;
    border-width: 2px;
    font-size: 24px;
    width:40px;
    height:40px;
    flex:1;
    background-color: azure;
}
